@use '../base/variables' as vars;
@use '../base/animations' as anim;

@keyframes moveFalconPath {
    0% { 
        offset-distance: 0%; 
        opacity: 0;
    }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { 
        offset-distance: 100%; 
        opacity: 0;
    }
}

.saga {
    padding: 100px 0;
    background-color: #000000;
    overflow: hidden; 
    position: relative;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 5%;
        text-align: center;
    }

    &__header {
        margin-bottom: 50px;
    }

    &__title {
        font-family: 'Montserrat', sans-serif; 
        color: rgba(vars.$color-white, 0.5);
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 10px;
    }

    &__description {
        font-family: 'Montserrat', sans-serif;
        color: rgba(vars.$color-white, 0.4);
        font-size: 16px;
    }

    &__content {
        position: relative;
        height: 600px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__ship {
        position: absolute;
        width: 1000px; 
        z-index: 50;
        pointer-events: none;
        will-change: transform, opacity, offset-distance;
        border: none;            
        outline: none;            
        background: transparent;  
        box-shadow: none;
        mix-blend-mode: screen;

        offset-path: path('M -200 400 L 1400 100');
        
        // 3. FAZ A NAVE SE ORIENTAR SOZINHA NA CURVA
        offset-rotate: auto 0deg; 
        
        // 4. CHAME A ANIMAÇÃO QUE CRIAMOS NO TOPO
        animation: moveFalconPath 8s linear infinite; 
    }

    &__coming-soon {
        @include anim.text-reveal; 

        font-family: 'Montserrat', sans-serif;
        color: rgba(vars.$color-white, 0.5);
        text-transform: uppercase;
        font-weight: 900;
        font-size: 48px; 
        letter-spacing: 2px;
        z-index: 2;
        text-align: center;
        
        opacity: 0;
        animation: textFadeIn 2s ease-out 3s forwards;
    }
}