// Colors
$color-black: #050505;
$color-gold: #FFE81F;
$color-white: #FFFFFF;
$color-gray: #1f1f1f;
$color-dark-gray: #0a0a0a;

// Spacing (ajuda no SMACSS)
$spacing-sm: 20px;
$spacing-md: 40px;
$spacing-lg: 80px;

// Fonts
$font-main: 'Montserrat', sans-serif;
$font-title: 'Poller One', cursive;